<nav class="navbar level">
    <p class="level-item has-text-centered">
        <a class="link is-info" href="#">Home</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info" href="#">Saved Articles</a>
    </p>
    <p class="level-item has-text-centered title-text">
        RUNESCRAPE
        {{!-- <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;"> --}}
    </p>
    <p class="level-item has-text-centered wrap-scrape">
        <button class="button scrape-button">Scrape!</button>
    </p>
</nav>
<section class="section">
    <div class="container content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit mi in urna rhoncus sollicitudin. Morbi euismod nibh
        quis enim tincidunt lobortis. Aenean convallis egestas elit vel ullamcorper. Etiam vel neque pretium, rutrum ex eget,
        posuere neque. Duis efficitur vitae velit nec egestas. Aliquam erat volutpat. Duis leo risus, venenatis non tortor
        fringilla, finibus sagittis mauris. Phasellus neque sapien, vulputate ut diam non, cursus accumsan arcu. Pellentesque
        vel nunc mi. Nulla et augue est. Praesent eget convallis nisl. Donec id mauris ut tortor gravida volutpat. Proin
        a molestie tellus, quis sodales leo. Duis nec varius est, eget condimentum nisl. Maecenas vehicula consectetur lacus
        nec dapibus. Ut euismod, risus a tincidunt convallis, purus mauris viverra mi, vitae iaculis tellus sapien sit amet
        leo. Vivamus condimentum ligula non suscipit hendrerit. Nulla facilisi.
    </div>
</section>